html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.page-container {
    width: 100%;
    min-height: 100%;
    position: relative;;
}

form {
    border: 1px solid #ccc;
    padding: 1rem;
}

input,
textarea {
    display: block;
    width: 100%;
    margin-bottom: 1rem;
}

form button {
    display: block;
    padding: 0.5rem 1rem;
    background: hsl(120, 56%, 40%);
    border: none;
    color: #fff;
    border-radius: 5px;
    width: 5rem;
    margin-left: auto;
}

header {
    background-color: teal;
    color: black;
    text-align: center;
    padding: 1rem;
    margin-bottom: 1rem;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: teal; 
    color: white;
    text-align: center;
    padding: 5px;
}

nav ul {
    list-style-type: none;
    margin-left: 20px;
    padding: 0;
}

nav ul li {
    margin-bottom: 10px;
}

.img {
    width: 200px;
    height: auto;
    margin-left: 20px;
    margin-right: 20px;
    float: left;
}

.content-container {
    flex: 1;
    display: flex;
}

.menu {
    list-style-type: none;
    margin-left: 10px;
    text-align: right;
    line-height: 30px;
    padding: 10px;
}

ul li a {
    display: block;
    text-decoration: none;
    color: teal;
    column-width: auto;
    margin-right: 20px;
    margin-bottom: 10px;
}

main {
    flex: 3;
}

@media screen and (max-width: 600px) {
    .menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color: teal;
        padding: 10px 0;
        z-index: 1000;
        text-align: center;
    }

    .menu ul {
        margin: 0;
        padding: 0;
    }

    .menu ul li {
        display: inline-block;
        margin-right: 10px;
    }

    .menu ul li a {
        display: block;
        text-decoration: none;
        padding: 5px;
        background-color: white;
    }

    .content-container {
        flex-direction: column;
        align-items: center;
    }

    header {
        margin-top: 50px;
    }
}



